doctype html
head
  title= title
  link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png")
  link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='/javascript/main.js' type='module' defer)
  block content
html
  body